<div class='landing'>

  <div class="container">
    <div class="m-5">
       <h3> <i class="bi bi-laptop"></i> Thomas Temple Developer</h3>
      <h6>Web Developer & Programmer</h6>
    </div>
    <div class="m-5 w-75">
      <h1 class="display-3 mt-5">Websites done right.</h1>
      <p>I am a web developer originally from Scotland based in Melbourne who has just completed a coding bootcamp with Le Wagon. I am looking for the right opportunity to learn further my career in tech.</p>
    </div>
    <div class="m-5">
      <a href="#" class="btn btn-danger">Github</a>
      <a href="#" class="btn btn-danger">Instagram</a>
      <a href="#" class="btn btn-danger">LinkedIn</a>
    </div>

    <div class="display-4 m-5">
      Portfolio
    </div>
  </div>

</div>
