<div class='landing'>

  <div class="container">
    <div class="header w-50">
       <h3 class=""> <i class="bi bi-laptop"></i> Thomas Temple Developer</h3>
      <h6 class="text-center">Web Developer & Software Engineer</h6>
    </div>
      <h1 class="display-4 mt-5 pl-5">Hello,</h1>
    <div class="ml-5 w-50">
      <p>I am a web developer originally from Scotland based in Melbourne who has just completed a coding bootcamp with Le Wagon. I am looking for the right opportunity to grow and develop my career in tech.</p>
    </div>
    <div class="m-5 w-50 justify-content-between">
      <a href="https://github.com/Tom-Tee" class="btn btn-danger m-3">Github</a>
      <a href="https://www.instagram.com/tomjtemple/" class="btn btn-danger m-3">Instagram</a>
      <a href="https://www.linkedin.com/in/thomas-temple/" class="btn btn-danger m-3">LinkedIn</a>
    </div>
  </div>
  </div>


  <div class="container">
  <div class="row">
      <hr>
      <div class="d-flex justify-content-around info-bar pt-5 skills">
        <div class="languages basic-text col-3 text-center">
          <i class="bi bi-chat-dots icon"></i>
          <p class="mt-4">Experience working with Object-Oriented principles using Ruby on Rails & Model-View-Controller patterns. HTML/CSS & JavaScript fundamental concepts and with the use of JS web tools like Babel, Webpack & yarn.</p>
        </div>
        <div class="connection basic-text col-3 text-center">
          <i class="bi bi-wifi icon"></i>
           <p class="mt-4">Front end application featuring Bootstrap, the latest CSS techniques including JS AJAX & adaptave design using responsive grid. </p>
        </div>
        <div class="database basic-text col-3 text-center">
          <i class="bi bi-folder2-open icon"></i>
           <p class="mt-4">Relational database experience using SQL & ORM (Active Record). Using simple CRUD queries (Create, Read, Update, Delete) & advanced JOIN queries with SQL. </p>
        </div>
      </div>
    </div>
  </div>

  <hr>
<div class="container">
  <div class="portfolio text-center">
    <div class="display-4 m-5 text-center">
        Portfolio
    </div>
    <div class="lumina">
      <div class="d-flex">
        <div class="col-6 col-3 text-center">
          <%= image_tag "Lumina.png", class:"port-img" %>
        </div>
        <div class="col-6 col-3 m-auto">
          <h2>Lumina</h2>
          <p>Lumina was a live project that was worked within a team colaboratively. The project uses REST API, Mapbox, a randomised feed as well as a chat function. </p>
          <div class="p-3">
            <h2 class="btn btn-danger btn-lg m-3">Preview</h2>
            <a href="www.love-lumina.me" class="btn btn-danger btn-lg m-3">Visit Site</a>
        </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
      Spin-Finder
    </div>
    <hr>
    <div>
      That's Rad Man
    </div>
    <hr>
    <div>
      G Kilpatrick
    </div>
    <hr>
    <div>
      Cocktail
    </div>
    <hr>
    <div>

    </div>
</div>

</div>
